*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    gap: 5px;
    justify-content: center;
    
    & img{
        width: 250px;
        height: 350px;
        border-radius: 10px;
        
    }

        & .grid__item{
        padding: 1rem;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}